<div class="container">
   <h4 class="text-center m-3">{{user.first_name}} {{user.last_name}}</h4>
   <div class="card p-3 shadow-sm">
      <div class="row align-items-center">
         <!-- Imagen del usuario -->
         <div class="col-md-4 text-center">
            <div class="rounded-circle border d-inline-block">
               <img [src]="user.image" class="w-100 h-100 rounded-circle" alt="Imagen de perfil">
            </div>
         </div>

         <!-- Información del usuario -->
         <div class="col-md-1 d-none d-md-block">
            <div class="border-end h-100"></div>
         </div>

         <div class="col-md-7">
            <p><strong>Id:</strong> <span> {{user._id}} </span></p>
            <p><strong>Nombre de usuario:</strong> <span> {{user.username}} </span></p>
            <p><strong>Email:</strong> <span> {{user.email}} </span></p>

            <!-- Botonera -->
            <div class="mt-4">
               <a class="btn btn-outline-danger me-2" (click)="deleteUser(user._id)"><i
                     class="fas fa-trash"></i>Eliminar</a>
               <a class="btn btn-outline-primary me-2" [routerLink]="['/updateuser', user._id]"><i class=" fas
                  fa-edit"></i>Editar</a>
               <a class="btn btn-outline-secondary" [routerLink]="['/home']"><i class="fas fa-arrow-left"></i> Volver a
                  listado</a>
            </div>
         </div>
      </div>
   </div>
</div>
