<div class="bg-dark text-center text-white py-4">
      <div class="container">
            <div class="mb-3">
                  <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button"><i
                              class="fab fa-facebook-f"></i></a>
                  <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button"><i
                              class="fab fa-twitter"></i></a>
                  <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button"><i
                              class="fab fa-google"></i></a>
                  <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button"><i
                              class="fab fa-instagram"></i></a>
                  <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button"><i
                              class="fab fa-linkedin-in"></i></a>
                  <a href="#" class="btn btn-outline-light btn-floating m-1 rounded-circle" role="button"><i
                              class="fab fa-github"></i></a>
            </div>
            <div class="text-white main-font fs-5">
                  © 2025 <a class="text-white text-decoration-none" href="#">Users</a>
            </div>
      </div>
</div>
