i.fs-1.fa-solid.fa-user-astronaut,span.fs-1.main-font {
   animation: colorCycle 2.5s infinite;
}

@keyframes colorCycle {
   0% {
      color: #fff;
   }
   25% {
      color: #7bf8ec;
   }
   50% {
      color: #cf84fa;
   }
   75% {
      color: #f8d061;
   }
   100% {
      color: #fff;
   }
}