<div class="p-3 bg-dark text-white">
   <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between header-center">
         <a href="#" class="d-flex align-items-center text-white text-decoration-none">
            <i class="fs-1 fa-solid fa-user-astronaut mx-3"></i>
            <span class="fs-1 main-font">Users</span>
         </a>

         <ul class="nav">
            <li><a href="#" class="nav-link btn btn-outline-success me-2 text-white" [routerLink]="['/home']"
                  routerLinkActive="active">Home</a>
            </li>
            <li><a href="#" class="nav-link btn btn-outline-success me-2 text-white" [routerLink]="['/newuser']"
                  routerLinkActive="active">New
                  User</a></li>
         </ul>
      </div>
   </div>
</div>
