@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

app-root {
   display: grid;
   grid-template-rows: auto 1fr auto;
   height: 100%;
}

header, main, footer {
   display: block;
}

.main-font {
   font-family: 'Lobster', cursive;
}

/* Media queries */
@media (max-width: 1319px) {
   footer{
      padding-top: 3em;
   }
}
@media (max-width: 845px) {
   .header-center {
      justify-content: center !important;
   }
   .header-center a {
      justify-content: center !important;
      width: 100% !important;
      text-align: center !important;
   }
   .header-center ul {
      justify-content: center !important;
      width: 100% !important;
      text-align: center !important;
      margin-top: 1em !important;
   }
   .header-center ul li{
      padding: 1em !important ;
   }
}
@media (max-width: 402px) {
   .title-view {
      font-size: 1.2em !important;
      display: flex !important;
      text-align: center !important;
   }
   a i,button i{
      font-size: 1em !important;
   }
   .card-view {
      width: 90% !important;
   }
   .img-view {
      width: 70% !important;
      height: 70% !important;
      margin-bottom: 0.5em;
   }
   .btn-view a{
      font-size: 0.9em;
   }
   .header-center {
      width: 90% !important;
   }
   .header-center ul{
      margin-left: 1em !important ;
      margin-right: 0 !important ;
      font-size: 1.15em !important;
   }
}